build/
install/
log/
logs/ros/
logs/gazebo_home/
*.pyc
__pycache__/
.bag/
*.db3
*.mcap
.vscode/
.idea/
*.swp
*.swo
.DS_Store
.cache/
colcon_build.rc
*.log
src/virtual_env/garage_v1/maps/tare_reference/garage_preview_pointcloud_original.ply
